@tailwind base;
@tailwind components;
@tailwind utilities;
/*PRIMARY COLORS*/

@layer base {
  :root {
    --background:#ffffff ;
    --foreground:#F0F3F7;
    --background-btn:#E5E9F2;
    --color-btn: #A1CCFF;
    --text-color:#0084FE;
    --main-text-color:#535F75;
    --text-tertiary: #1D1E2C;
    --color-hover: #E5E9F2;

  }
}